 
{% extends 'base.html'%}
{% block content %}

<html>
    <body class="home">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Welcome to Pitch Ideas</h1><br>
                <h2 class="text-center">Home of the most Innovative & Revolutionary Ideas</h2>
                <h2 class="text-center"> *Create an Account to Pitch your Ideas* </h2>     
            </div>
        </div>
    </div>  
    </body>
</html>


{% endblock%}